@import url('reset.css');
@import url('font.css');

*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Manrope";
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(9, 9, 11, 1);
    gap: 12px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 70px;
    padding: 0 24px;
}
main{
    display: flex;
    gap: 24px;
    padding: 0 24px;
    width: 100%;
    max-width: 1440px;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 48px;
    width: 100%;
    max-width: 1440px;
    background-color: rgba(24, 24, 27, 1);
}
.navText{
    display: flex;
    gap: 12px;
    color: rgba(250, 250, 250, 1);
}
h5{
    color: rgba(250, 250, 250, 1);
    font-size: 18px;
}
.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    color: rgba(244, 244, 245, 1);
    background-color: rgba(0, 119, 255, 1);
    border-radius: 14px;
    padding: 0 32px;
}
.burger{
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 12px;
    padding: 12px;
    width: 44px;
    height: 44px;
    background-color: rgba(24, 24, 27, 1);
}
.whiteLine{
    width: 100%;
    height: 2px;
    background-color: rgba(250, 250, 250, 1);
}
.breadCrumbs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    max-width: 1920px;
    height: 23px;
}
h4{
    color: rgba(82, 82, 91, 1);
    font-size: 18px;
}
.M_OfferTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(24, 24, 27, 1);
    gap: 56px;
    /* width: 100%;
    height: 240px; */
    border-radius: 24px;
    padding: 24px;
}
.M_OfferTitleText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}
h6{
    font-size: 16px;
    color: #fafafa;
}
h1{
    font-size: 60px;
    color: rgba(250, 250, 250, 1);
}
.heading{
    font-size: 60px;
    color: rgba(250, 250, 250, 1);
}
.W_WrapperHorizontal{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.C_OfferCardChips{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}
.A_Chips{
    display: flex;
    align-items: center;
    background-color: rgba(0, 119, 255, 1);
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    height: 47px;
    border-radius: 12px;
    padding: 0 12px;
    font-size: 24px;
}
.A_Text{
    display: flex;
    font-size: 18px;
    color: rgba(250, 250, 250, 1);
}
.responseAndVkAndText{
    display: flex;
    gap: 24px;
}
.responseAndVk{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.M_CompanyPreview{
    display: flex;
    background-color: rgba(24, 24, 27, 1);
    border-radius: 24px;
    padding: 24px;
    width: fit-content;
    flex-direction: column;
    gap: 18px;
}
h2{
    font-size: 28px;
    color: rgba(250, 250, 250, 1);
}
.buttonResponse{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(0, 119, 255, 1);
    height: 50px;
    padding: 0 32px;
    width: 416px;
    border-radius: 14px;
}
.buttonComplaint{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(39, 39, 42, 1);
    height: 50px;
    padding: 0 32px;
    width: 416px;
    border-radius: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(63, 63, 70, 1);
}
.vkLogoAndText{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.vkLogotype{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.W_OfferDescription{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(24, 24, 27, 1);
    border-radius: 24px;
    padding: 12px;
}
.text1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}
h3{
    font-size: 20px;
    color: rgba(228, 228, 231, 1);
}
ul{
    color: rgba(228, 228, 231, 1);
    padding: 0 24px;
    margin: 0 0px;
}
li{
    padding-top: 12px;
}
.footer1{
    display: flex;
    padding: 0 24px;
    width: 100%;
    max-width: 1440px; 
    justify-content: center;
}
.horisontal{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.MatteAndPublish{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 672px;
}
.Mattee{
    font-size: 30px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}
.buttonPublishVacancy{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 238px;
    border-radius: 14px;
    font-size: 16px;
    background-color: rgba(250, 250, 250, 1);
    color: rgba(9, 9, 11, 1);
}
.options1{
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}
.options2{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.optionsText{
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
}
.white{
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}



.mobile-only{
    display: none;
}
.decstop-only{
    display: inherit;
}


@media (max-width: 1024px){
    .mobile-only{
        display: inherit;
    }
    .decstop-only{
        display: none;
    }

    .breadCrumbs{
        height: fit-content;
        flex-wrap: wrap;
    }
    .heading{
        font-size: 24px;
    }
    .W_WrapperHorizontal{
        flex-wrap: wrap;
        gap: 12px;
    }
    .A_Chips{
        font-size: 16px;
    }
    .A_Text{
        font-size: 14px;
    }
    .responseAndVkAndText{
        flex-wrap: wrap;
    }
    .responseAndVk{
        width: 100%;
    }
    .M_CompanyPreview{
        width: 100%;
    }
    .buttonResponse{
        width: 100%;
    }
    .buttonComplaint{
        width: 100%;
        color: rgba(24, 24, 27, 1);
        background-color: rgba(244, 244, 245, 1);
        border-width: 1px;
        border-style: solid;
        border-color: rgba(212, 212, 216, 1);
    }
    .MatteAndPublish{
        flex-wrap: wrap;
    }
    .footer1{
        justify-content: space-between;
    }
    .horisontal{
        flex-wrap: wrap;
    }
}